.popup__title {
  font-style: normal;
  font-family: 'Inter';
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0 0 20px 0;
  letter-spacing: 0ex;
  text-align: center;
}

@media (max-width: 768px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 54px;
  }
}