.footer {
  margin: 0 auto;
  max-width: 1280px;
  box-sizing: border-box;
  padding: 0 15.625% 60px;
}

@media (min-width: 1281px) {
  .footer {
    padding: 0 200px 60px;
  }
}

@media (max-width: 320px) {
  .footer {
    padding: 0 5.94% 36px;
  }
}