.popup__input {
  font-family: 'Inter';
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 24px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  padding: 4px 0;
  min-height: 27px;
}

