.header {
  max-width: 880px;
  box-sizing: border-box;
  margin: 0 auto 40px;
  padding: 45px 0 0;
  height: 120px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;

}

@media (max-width: 934px) {
  .header {
    padding: 28px 27px 0;
    height: 85px;
    margin-bottom: 42px;
  }
}

